<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Main CSS -->
    <link href="dist/css/main.css" rel="stylesheet">

    <!-- Your page title -->
    <title>Ministries | Men's ministry | Greater Love Church</title>

    <!-- Place Custom Favicon here -->
    <link rel="shortcut icon" href="images/logo-dark.png" type="image/png">


  </head>

  <body>

    <div class="page-loader">
      <div class="loader"><img src="images/logo-dark.png" alt=""></div>
    </div>

    <!-- =================== SITE HEADER BEGINS ============================= -->

    <header class="header transparent fixed light-text" data-onscroll-classes="dark-text white-bg"
      data-onscroll-logo="images/logo-dark.png">

      <div class="container">

        <nav class="header__nav bottom-nav">

          <div class="header__logo brand--logo">
            <a href="index.html"><img src="images/logo-dark.png" alt="Greater Love Church"></a>
          </div>

          <div class="header__mobile--opener hide-on-lg">
            <button class="header__mobile--icon" aria-expanded="false" aria-controls="mobile-menu"
              data-toggle="mobile-menu">
              <span class="line"></span>
              <span class="line"></span>
              <span class="line"></span>
            </button>
          </div>

          <ul class="header__navitems show-on-lg" id="mobile-menu">

            <!-- Contains donation button for mobile and tablet devices -->
            <li class="header__extra">
              <div class="cta">
                <a href="donations.html" class="button button-block-sm">Donate</a>
              </div>
            </li><!-- .header__extra ends -->

            <li class="header__list"><a href="index.html">Home</a></li>
            <!-- .header__list ends -->

            <li class="header__list"><a href="about.html">About</a></li><!-- .header__list ends -->

            <li class="header__list">
              <a href="" class="dropdown-link">Sermons</a>

              <div class="header__submenu">
                <ul>

                  <li class="header__list"><a href="sermons.html">Sermons</a></li>
                  <li class="header__list"><a href="sermons-single.html">Sermons single</a></li>

                </ul>

              </div><!-- .header__submenu ends -->
            </li><!-- .header__list ends -->

            <li class="header__list active">
              <a href="" class="dropdown-link">Ministries</a>

              <div class="header__submenu">
                <ul>

                  <li class="header__list"><a href="ministries.html">Ministries</a></li>
                  <li class="header__list active"><a href="ministries-single.html">Ministries single</a></li>

                </ul>
              </div><!-- .header__submenu ends -->
            </li><!-- .header__list ends -->

            <li class="header__list">
              <a href="" class="dropdown-link">Events</a>

              <div class="header__submenu">
                <ul>

                  <li class="header__list"><a href="events.html">Events</a></li>
                  <li class="header__list"><a href="events-single.html">Events single</a></li>

                </ul>
              </div><!-- .header__submenu ends -->
            </li><!-- .header__list ends -->

            <li class="header__list">
              <a href="" class="dropdown-link">Pages</a>

              <div class="header__submenu">
                <ul>

                  <li class="header__list"><a href="donations.html">Donations</a></li>
                  <li class="header__list"><a href="staffs-single.html">Staffs single</a></li>
                  <li class="header__list"><a href="elements.html">Elements</a></li>

                </ul>
              </div><!-- .header__submenu ends -->
            </li><!-- .header__list ends -->

            <li class="header__list">
              <a href="" class="dropdown-link">Blog</a>

              <div class="header__submenu">
                <ul>

                  <li class="header__list"><a href="blog.html">Blog list</a></li>
                  <li class="header__list"><a href="blog-single.html">Blog single</a></li>

                </ul>
              </div><!-- .header__submenu ends -->
            </li><!-- .header__list ends -->

            <li class="header__list"><a href="contact.html">Contact</a></li>
            <!-- .header__list ends -->

          </ul><!-- .header__navitems ends -->

          <!-- Contains Shopping cart and donation button -->
          <div class="header__extra desktop-version">
            <div class="cta hide-on-sm show-on-lg">
              <a href="donations.html" class="button">Donate</a>
            </div>
          </div><!-- .header__extra ends -->

        </nav><!-- .header__nav ends -->

      </div><!-- .container ends -->

    </header><!-- .header ends -->

    <!-- =================== SITE HEADER ENDS ============================= -->



    <!-- =================== MAIN SECTION BEGINS ============================= -->

    <main>

      <!-- BANNER SECTION STARTS -->
      <section class="banner full-width">

        <div class="container">

          <div class="banner__content">

            <div class="banner__heading">
              <h1>Ministries</h1>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam fugit</p>
            </div>

            <div class="breadcrumb">
              <div class="breadcrumb__home--link"><a href="index.html">Home</a></div>
              <span></span>
              <div><a href="ministries.html">Ministries</a></div>
              <span></span>
              <div class="breadcrumb__current--page-link">Men's ministry</div>
            </div><!-- .breadcrumb ends -->

          </div><!-- .banner__content ends -->

        </div><!-- .container ends -->

      </section><!-- .banner ends -->
      <!-- BANNER SECTION ENDS -->


      <!-- SINGLE MINISTRIES SECTION STARTS -->
      <div class="single ministries-single default-section-spacing">

        <div class="container">

          <div class="row">

            <div class="flex-lg-8">

              <div class="single__content">

                <div class="card single__featured--image no-padding">
                  <img src="images/single.jpg" alt="A man praying" class="card__image">
                </div><!-- .card ends -->

                <div class="single__metas ministries-single__metas">

                  <div class="row align-items-center">

                    <div class="flex-md-8 flex-lg-9">

                      <div class="ministry__meta">
                        <div class="meta"><i class="ri-user-star-line"></i> <span>Heads by <span class="bold">Deacon
                              Geoffrey E. Henderson</span></span></div>
                        <div class="meta"><i class="ri-group-line"></i> <span>14 Brothers</span></div>
                        <div class="meta"><i class="ri-calendar-event-line"></i> <span>Meets once every month</span>
                        </div>
                      </div><!-- .ministry__metas -->

                      <div class="ministry__content">
                        <div class="title">
                          <h2>Men's ministry</h2>
                        </div>
                      </div><!-- .ministry__content ends -->

                    </div><!-- .flex-* ends -->

                    <div class="flex-md-4 flex-lg-3">

                      <div class="ministry__link">
                        <a href="#" class="button button-block-md">Join this ministry</a>
                      </div>

                    </div><!-- .flex-* ends -->

                  </div><!-- .row ends -->

                </div><!-- .single__metas ends -->

                <div class="single__content--full">

                  <h3>Description</h3>

                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut consequuntur nulla voluptate quas
                    excepturi aliquam mollitia aut veniam voluptates suscipit error voluptatibus deserunt, blanditiis
                    necessitatibus dolorem aspernatur rerum unde similique ab praesentium? Sint minus repellendus vitae
                    dignissimos autem nostrum quisquam nemo officia, facere, explicabo perferendis fugiat excepturi.</p>
                  <p>Odio laborum unde voluptatum facilis quam consequuntur ut adipisci id, accusantium vel perspiciatis
                    sed suscipit excepturi nobis distinctio quos consectetur a. Recusandae, quaerat assumenda fuga et
                    facilis consectetur, consequuntur nihil provident officiis at nemo rerum similique incidunt corrupti
                    cum voluptates ex sequi magnam impedit reprehenderit tempora soluta!</p>

                  <h3>Responsibilities</h3>

                  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vel alias aperiam ut libero impedit
                    distinctio perferendis expedita amet ratione similique commodi optio dolorem sequi, non dolores esse
                    mollitia numquam saepe magni fugiat blanditiis iste aliquid.</p>
                  <p>Sed repellendus vel accusantium debitis, cum dolor delectus sit odit numquam laudantium nihil nam
                    in at? Fuga, veritatis suscipit itaque dolorem laboriosam impedit delectus fugit reprehenderit.</p>

                </div><!-- .single__content--full ends -->

              </div><!-- .single__content ends -->

            </div><!-- .flex-* ends -->

            <div class="flex-lg-4">

              <div class="sidebar">

                <div class="sidebar__widget">
                  <div class="share">
                    <span>Share</span>
                    <a href="" title="Share it on Facebook"><i class="ri-facebook-line"></i></a>
                    <a href="" title="Share it on LinkedIn"><i class="ri-linkedin-line"></i></a>
                    <a href="" title="Share it on Twitter"><i class="ri-twitter-line"></i></a>
                    <a href="" title="Email it"><i class="ri-mail-line"></i></a>
                  </div>
                </div><!-- .sidebar__widget ends -->

                <div class="sidebar__widget">

                  <h3 class="sidebar__title">Other ministries</h3>

                  <div class="card custom-height ministry">

                    <div class="card__header">
                      <img src="images/ministry-2@1.5x.jpg" alt="A man holding and reading the Holy Bible"
                        class="card__image ministry__image">
                    </div><!-- .card__header ends -->

                    <div class="card__footer">

                      <div class="ministry__title">
                        <h3>Women's ministry</h3>
                      </div>

                      <div class="ministry__meta"><i class="ri-group-line"></i> <span>12 Sisters</span></div>

                      <div class="ministry__content">
                        <div class="excerpt">
                          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sint culpa totam laborum.</p>
                        </div>
                        <div class="ministry__link"><a href="ministries-single.html" class="button">Learn more</a></div>
                      </div><!-- .ministry__content ends -->

                    </div><!-- .card__footer ends -->

                  </div><!-- .card ends -->

                  <div class="card custom-height ministry">

                    <div class="card__header">
                      <img src="images/ministry-3@1.5x.jpg" alt="A little boy laughing while reading the Holy Bible"
                        class="card__image ministry__image">
                    </div><!-- .card__header ends -->

                    <div class="card__footer">

                      <div class="ministry__title">
                        <h3>Children's ministry</h3>
                      </div>

                      <div class="ministry__meta"><i class="ri-group-line"></i> <span>26 Children</span></div>

                      <div class="ministry__content">
                        <div class="excerpt">
                          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sint culpa totam laborum.</p>
                        </div>
                        <div class="ministry__link"><a href="ministries-single.html" class="button">Learn more</a></div>
                      </div><!-- .ministry__content ends -->

                    </div><!-- .card__footer ends -->

                  </div><!-- .card ends -->

                </div><!-- .sidebar__widget ends -->

                <div class="sidebar__widget">

                  <h3 class="sidebar__title">Volunteer</h3>

                  <div class="card custom-height text-center">

                    <div class="card__header">
                      <img src="images/sermon-2@1.5x.jpg" alt="" class="card__image ministry__image">
                    </div><!-- .card__header ends -->

                    <div class="card__footer">

                      <div class="ministry__title text-white mar-b-sm">
                        <h3>Love helping out?<br>We can use your help!</h3>
                      </div>

                      <div class="ministry__link"><a href="#" class="button">Volunteer</a></div>

                    </div><!-- .card__footer ends -->

                  </div><!-- .card ends -->

                </div><!-- .sidebar__widget ends -->

                <div class="sidebar__widget">

                  <h3 class="sidebar__title">Subscribe</h3>

                  <form action="#" class="form">

                    <div class="form__group mar-b-sm">
                      <input type="email" class="form__input" placeholder="Enter your email address">
                    </div>

                    <button type="submit" class="button">Subscribe</button>

                  </form><!-- .form ends -->

                </div><!-- .sidebar__widget ends -->

              </div><!-- .sidebar ends -->

            </div><!-- .flex-* ends -->

          </div><!-- .row ends -->

        </div><!-- .container ends -->

      </div><!-- .single ends -->
      <!-- SINGLE MINISTRIES SECTION ENDS -->

      <!-- OUR GALLERY STARTS -->
      <section class="our-gallery gallery gallery--equal-grid default-section-spacing background-lighter-gray">

        <div class="container">

          <div class="section-heading text-center">
            <span>Gallery</span>
            <h2>Some pictures from this ministry</h2>
          </div><!-- .section-heading ends -->

          <div class="row">

            <div class="flex-md-6 flex-lg-3 no-padding no-margin">

              <a href="images/gallery-1@2x.jpg" class="gallery-link" data-lightbox="church-picture"
                data-title="Picture of the Holy Bible">

                <div class="card gallery__card">

                  <div class="card__header">
                    <img src="images/gallery-1@1.5x.jpg" alt="Picture of the Holy Bible" class="card__image">
                  </div>

                </div><!-- .card ends -->

              </a><!-- .gallery-link -->

            </div><!-- .flex-* ends -->

            <div class="flex-md-6 flex-lg-3 no-padding no-margin">

              <a href="images/gallery-2@2x.jpg" class="gallery-link" data-lightbox="church-picture"
                data-title="Picture of Jesus on a medal cross">

                <div class="card gallery__card">

                  <div class="card__header">
                    <img src="images/gallery-2@1.5x.jpg" alt="Picture of Jesus on a medal cross" class="card__image">
                  </div>

                </div><!-- .card ends -->

              </a><!-- .gallery-link -->

            </div><!-- .flex-* ends -->

            <div class="flex-md-6 flex-lg-3 no-padding no-margin">

              <a href="images/gallery-3@2x.jpg" class="gallery-link" data-lightbox="church-picture"
                data-title="Bible study">

                <div class="card gallery__card">

                  <div class="card__header">
                    <img src="images/gallery-3@1.5x.jpg" alt="Bible study" class="card__image">
                  </div>

                </div><!-- .card ends -->

              </a><!-- .gallery-link -->

            </div><!-- .flex-* ends -->

            <div class="flex-md-6 flex-lg-3 no-padding no-margin">

              <a href="images/gallery-4@2x.jpg" class="gallery-link" data-lightbox="church-picture"
                data-title="Inside of a church">

                <div class="card gallery__card">

                  <div class="card__header">
                    <img src="images/gallery-4@1.5x.jpg" alt="Inside of a church" class="card__image">
                  </div>

                </div><!-- .card ends -->

              </a><!-- .gallery-link -->

            </div><!-- .flex-* ends -->

            <div class="flex-md-6 flex-lg-3 no-padding no-margin">

              <a href="images/gallery-5@2x.jpg" class="gallery-link" data-lightbox="church-picture"
                data-title="Picture of people worshiping in church">

                <div class="card gallery__card">

                  <div class="card__header">
                    <img src="images/gallery-5@1.5x.jpg" alt="Picture of people worshiping in church"
                      class="card__image">
                  </div>

                </div><!-- .card ends -->

              </a><!-- .gallery-link -->

            </div><!-- .flex-* ends -->

            <div class="flex-md-6 flex-lg-3 no-padding no-margin">

              <a href="images/gallery-6@2x.jpg" class="gallery-link" data-lightbox="church-picture"
                data-title="Picture of women laughing">

                <div class="card gallery__card">

                  <div class="card__header">
                    <img src="images/gallery-6@1.5x.jpg" alt="Picture of women laughing" class="card__image">
                  </div>

                </div><!-- .card ends -->

              </a><!-- .gallery-link -->

            </div><!-- .flex-* ends -->

            <div class="flex-md-6 flex-lg-3 no-padding no-margin">

              <a href="images/gallery-7@2x.jpg" class="gallery-link" data-lightbox="church-picture"
                data-title="Picture of a worship leader singing">

                <div class="card gallery__card">

                  <div class="card__header">
                    <img src="images/gallery-7@1.5x.jpg" alt="Picture of a worship leader singing" class="card__image">
                  </div>

                </div><!-- .card ends -->

              </a><!-- .gallery-link -->

            </div><!-- .flex-* ends -->

            <div class="flex-md-6 flex-lg-3 no-padding no-margin">

              <a href="images/gallery-8@2x.jpg" class="gallery-link" data-lightbox="church-picture"
                data-title="Picture of a smart kid at school">

                <div class="card gallery__card">

                  <div class="card__header">
                    <img src="images/gallery-8@1.5x.jpg" alt="Picture of a smart kid at school" class="card__image">
                  </div>

                </div><!-- .card ends -->

              </a><!-- .gallery-link -->

            </div><!-- .flex-* ends -->

          </div><!-- .row ends -->

        </div><!-- .container ends -->

      </section><!-- .our-gallery ends -->
      <!-- OUR GALLERY ENDS -->


      <!-- TIME AND LOCATION STARTS -->
      <section class="time-location">

        <div class="container">

          <div class="row">

            <div class="flex-lg-6">

              <div class="time-location__content default-section-spacing">

                <div class="section-heading">
                  <span>Time and location</span>
                  <h2>Come and worship with us</h2>
                </div><!-- .section-heading ends -->

                <div class="time-location__time">

                  <div class="info">
                    <div class="day bold">Sunday:</div>
                    <div class="time">
                      <span>9:00 am - 10:30 am (Sunday school)</span>
                      <span>11:00 am - 1:30 pm (Morning service)</span>
                      <span>4:00 pm - 5:30 pm (Evening service)</span>
                    </div>
                  </div>

                  <div class="info">
                    <div class="location bold">Location:</div>
                    <div class="location-info"><span>123 Jay St, Albany, NY 12203</span></div>
                  </div>

                </div><!-- .time-location__time ends -->

              </div>

            </div><!-- .flex-* ends -->

          </div><!-- .row ends -->

        </div><!-- .container ends -->

        <div class="time-location__map"><iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2934.500392314035!2d-73.76198333429348!3d42.650750424686215!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89de0a3cdc54f8b3%3A0x369f717b85d43cfc!2sMadison%20Ave%20%26%20Empire%20State%20Plaza!5e0!3m2!1sen!2sus!4v1583133727681!5m2!1sen!2sus"
            style="border:0;" allowfullscreen=""></iframe></div>


      </section><!-- .time-location ends -->
      <!-- TIME AND LOCATION ENDS -->


    </main><!-- main ends -->

    <!-- =================== MAIN SECTION ENDS ============================= -->


    <!-- SCROLL BACK TO TOP BEGINS -->
    <div class="scroll-to-top"><i class="ri-arrow-up-line"></i></div>
    <!-- SCROLL BACK TO TOP ENDS -->


    <!-- =================== SITE FOOTER BEGINS ============================= -->

    <footer class="footer">

      <div class="container">

        <div class="footer__top display-flex justify-align-center">

          <div class="footer__logo">
            <div class="logo-wrapper">
              <img src="images/logo-dark.png" alt="Small logo">
            </div>
          </div>

        </div><!-- .footer__top ends -->

        <div class="footer__bottom">

          <div class="row align-items-center">

            <div class="flex-md-6 flex-lg-4">

              <div class="footer__info copyright">&copy; 2020 - Greater Love Church - All Rights Reserved</div>

            </div><!-- .flex-* ends -->

            <div class="flex-md-6 flex-lg-4">

              <div class="footer__info credit">Template designed and developed by Blazythemes</div>

            </div><!-- .flex-* ends -->

            <div class="flex-md-6 flex-lg-4">

              <div class="footer__info social">
                <span>Follow us on social medias</span>
                <div class="social__icons">
                  <a href=""><i class="ri-facebook-line"></i></a>
                  <a href=""><i class="ri-twitter-line"></i></a>
                  <a href=""><i class="ri-linkedin-line"></i></a>
                </div>
              </div>

            </div><!-- .flex-* ends -->

          </div><!-- .row ends -->

        </div><!-- .footer__top ends -->

      </div><!-- .container ends -->

    </footer><!-- footer ends -->

    <!-- =================== SITE FOOTER ENDS ============================= -->


    <!-- JQUERY -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <!-- loading in JQuery locally if CDN failed -->
    <script>window.jQuery || document.write('<script src="js/jquery.min.js">\x3C/script>')</script>
    <!-- Owl Carousel script -->
    <script src="js/plugins/owl.carousel.js"></script>

    <!-- JQuery Credit Card script -->
    <script src="js/plugins/jquery.card.js"></script>
    <!-- Animate On Scroll script -->
    <script src="js/plugins/aos.js"></script>
    <!-- Lightbox script -->
    <script src="js/plugins/lightbox.min.js"></script>
    <!-- Main script -->
    <script src="dist/js/main.min.js"></script>

  </body>

</html>