{% load static %}
<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Main CSS -->
    <link href="{% static 'dist/css/main.css'%}" rel="stylesheet">

    <!-- Your page title -->
    <title>Sermons | Renewed Church</title>

    <!-- Place Custom Favicon here -->
    <link rel="shortcut icon" href="{% static 'images/logo-dark.png'%}" type="image/png">


  </head>

  <body>

    <div class="page-loader">
      <div class="loader"><img src="{% static 'images/logo-dark.png'%}" alt=""></div>
    </div>

    <!-- =================== SITE HEADER BEGINS ============================= -->

    <header class="header transparent fixed light-text" data-onscroll-classes="dark-text white-bg"
      data-onscroll-logo="{% static 'images/logo-dark.png'%}">

      <div class="container">

        <nav class="header__nav bottom-nav">

          <div class="header__logo brand--logo">
            <a href="index.html"><img src="{% static 'images/logo-dark.png'%}" alt="Renewed Church"></a>
          </div>

          <div class="header__mobile--opener hide-on-lg">
            <button class="header__mobile--icon" aria-expanded="false" aria-controls="mobile-menu"
              data-toggle="mobile-menu">
              <span class="line"></span>
              <span class="line"></span>
              <span class="line"></span>
            </button>
          </div>

          <ul class="header__navitems show-on-lg" id="mobile-menu">

            <!-- Contains donation button for mobile and tablet devices -->
            <li class="header__extra">
              <div class="cta">
                <a href="" class="button button-block-sm">Donate</a>
              </div>
            </li><!-- .header__extra ends -->

            <li class="header__list active"><a href="">Home</a></li>
            <!-- .header__list ends -->

            <li class="header__list"><a href="/about/">About</a></li><!-- .header__list ends -->

            <li class="header__list">
              <a href="" class="dropdown-link">Sermons</a>

              <div class="header__submenu">
                <ul>

                  <li class="header__list"><a href="/sermons/">Sermons</a></li>
                  

                </ul>

              </div><!-- .header__submenu ends -->
            </li><!-- .header__list ends -->

            <li class="header__list"><a href="/events/">Events</a></li>
            <li class="header__list"><a href="/ministry/">Ministries</a></li>
            
 

            <li class="header__list"><a href="/contact/">Contact</a></li>
            <!-- .header__list ends -->

          </ul><!-- .header__navitems ends -->

          <!-- Contains Shopping cart and donation button -->
          <div class="header__extra desktop-version">
            <div class="cta hide-on-sm show-on-lg">
              <a href="donations.html" class="button">Donate</a>
            </div>
          </div><!-- .header__extra ends -->

        </nav><!-- .header__nav ends -->

      </div><!-- .container ends -->

    </header><!-- .header ends -->

    <!-- =================== SITE HEADER ENDS ============================= -->



    <!-- =================== MAIN SECTION BEGINS ============================= -->

    <main>

      <!-- BANNER SECTION STARTS -->
      <section class="banner full-width">

        <div class="container">

          <div class="banner__content">

            <div class="banner__heading">
              <h1>Sermons</h1>
              <p>Let us be blessed together</p>
            </div>

            <div class="breadcrumb">
              <div class="breadcrumb__home--link"><a href="index.html">Home</a></div>
              <span></span>
              <div class="breadcrumb__current--page-link">Sermons</div>
            </div><!-- .breadcrumb ends -->

          </div><!-- .banner__content ends -->

        </div><!-- .container ends -->

      </section><!-- .banner ends -->
      <!-- BANNER SECTION ENDS -->


      <!-- ALL SERMONS SECTION STARTS -->
      <div class="all-sermons default-section-spacing">

        <div class="container">

          <div class="section-heading text-center no-margin">
            <span>Sermons</span>
            <h2>Our sermons</h2>
          </div><!-- .section-heading ends -->

          <div class="search search-header default-section-spacing">

            <div class="row">

              <div class="flex-md-3 flex-lg-4">

                <div class="search__result">
                  <div class="text leading uppercase bold">Results</div>
                  <p>Showing 6 out of 24 sermons</p>
                </div>

              </div><!-- .flex-* ends -->

              <div class="flex-md-9 flex-lg-8">

                <div class="search__search">
                  <div class="text leading uppercase bold">Search</div>
                </div>

                <form action="#" class="form search__form">

                  <div class="display-flex">

                    <div class="form__group">

                      <input type="text" class="form__input" placeholder="Search for sermons...">

                    </div><!-- .form__group ends -->

                    <div>
                      <button type="submit" class="button">Search</button>
                    </div>

                  </div><!-- .display-flex ends -->

                </form><!-- .form ends -->

              </div><!-- .flex-* ends -->

            </div><!-- .row ends -->

          </div>

          <div class="all-sermons__sermons">

            <div class="row">

              <div class="flex-md-6 flex-lg-4 mar-b-sm">

                <div class="card sermon">

                  <div class="card__header">
                    <img src="{% static 'images/sermon-1@1.5x.jpg'%}" alt="A man reading the Holy Bible"
                      class="card__image sermon__image">
                  </div><!-- .card__header ends -->

                  <div class="card__footer">

                    <div class="sermon__metas">
                      <div class="sermon__meta--date meta"><i class="ri-calendar-event-line"></i>
                        <span>02/28/2020</span>
                      </div>
                      <div class="sermon__meta--speaker meta"><i class="ri-user-star-line"></i> <span>Pastor Arnold
                          Chikwira</span>
                      </div>
                    </div><!-- .sermon__metas -->

                    <div class="sermon__content">
                      <div class="title">
                        <h3>Loving Jesus with all your heart, mind, and soul</h3>
                      </div>
                      <div class="excerpt">
                        <p> The sermon centers on the commandment to love Jesus with all our heart, mind, and soul. This directive serves as the foundation of our faith and requires a holistic approach to our relationship with Christ. Loving Him with our heart involves emotional devotion, while loving with our mind demands intellectual engagement through studying His Word. Lastly, loving with our soul signifies a total surrender of our identity to His lordship. This comprehensive love has the power to transform our lives, influencing our decisions and character. Challenges may arise, but remembering His sacrificial love keeps us devoted. Ultimately, loving Jesus completely leads to a purpose-filled, joyous journey of faith..</p>
                      </div>
                    </div>

                    <div class="sermon__link">
                      <a href="sermons-single.html" class="button">Read more</a>
                    </div>

                    <div class="sermon__download">
                      <span class="text-white">Download</span>
                      <a href=""><i class="ri-video-line"></i></a>
                      <a href=""><i class="ri-headphone-line"></i></a>
                      <a href=""><i class="ri-file-pdf-line"></i></a>
                    </div>
                  </div><!-- .card__footer ends -->

                </div><!-- .card ends -->

              </div><!-- .flex-* ends -->

              <div class="flex-md-6 flex-lg-4 mar-b-sm">

                <div class="card sermon">

                  <div class="card__header">
                    <img src="{% static 'images/sermon-2@1.5x.jpg'%}" alt="A man reading the Holy Bible"
                      class="card__image sermon__image">
                  </div><!-- .card__header ends -->

                  <div class="card__footer">

                    <div class="sermon__metas">
                      <div class="sermon__meta--date meta"><i class="ri-calendar-event-line"></i>
                        <span>02/28/2020</span>
                      </div>
                      <div class="sermon__meta--speaker meta"><i class="ri-user-star-line"></i> <span>Pastor Anold
                          Chikwira</span>
                      </div>
                    </div><!-- .sermon__metas -->

                    <div class="sermon__content">
                      <div class="title">
                        <h3>Living the Christian life</h3>
                      </div>

                      <div class="excerpt">
                        <p>The sermon revolves around "Living the Christian Life." It explores the essence of embodying Christ's teachings in our daily existence. This includes imitating His love, embracing righteousness, engaging in prayer, sharing the Gospel, facing challenges with faith, extending forgiveness, fostering community, and maintaining an eternal perspective. Living as a Christian entails walking in Christ's footsteps, contributing to a purposeful and transformative journey of faith.</p>
                      </div>
                    </div>

                    <div class="sermon__link">
                      <a href="sermons-single.html" class="button">Read more</a>
                    </div>

                    <div class="sermon__download">
                      <span class="text-white">Download</span>
                      <a href=""><i class="ri-video-line"></i></a>
                      <a href=""><i class="ri-headphone-line"></i></a>
                      <a href=""><i class="ri-file-pdf-line"></i></a>
                    </div>
                  </div><!-- .card__footer ends -->

                </div><!-- .card ends -->

              </div><!-- .flex-* ends -->

              <div class="flex-md-6 flex-lg-4 mar-b-sm">

                <div class="card sermon">

                  <div class="card__header">
                    <img src="{% static 'images/sermon-3@1.5x.jpg'%}" alt="" class="card__image sermon__image">
                  </div><!-- .card__header ends -->

                  <div class="card__footer">

                    <div class="sermon__metas">
                      <div class="sermon__meta--date meta"><i class="ri-calendar-event-line"></i>
                        <span>02/28/2020</span>
                      </div>
                      <div class="sermon__meta--speaker meta"><i class="ri-user-star-line"></i> <span>Pastor Anold
                          Chikwira</span>
                      </div>
                    </div><!-- .sermon__metas -->

                    <div class="sermon__content">
                      <div class="title">
                        <h3>Jesus is the Hope and Future</h3>
                      </div>

                      <div class="excerpt">
                        <p>The sermon centers on the theme "Jesus is the Hope and Future." It underscores how Jesus Christ is the anchor of our hope and the fulfillment of our future. Through scriptural insights, it emphasizes that placing our trust in Christ offers unwavering hope in the midst of life's uncertainties. This hope isn't confined to the present; it extends to our eternal future with Him. As believers, we find profound assurance and purpose in the truth that Jesus is both our hope in every situation and the source of our eternal destiny....</p>
                      </div>
                    </div>

                    <div class="sermon__link">
                      <a href="sermons-single.html" class="button">Read more</a>
                    </div>

                    <div class="sermon__download">
                      <span class="text-white">Download</span>
                      <a href=""><i class="ri-video-line"></i></a>
                      <a href=""><i class="ri-headphone-line"></i></a>
                      <a href=""><i class="ri-file-pdf-line"></i></a>
                    </div>
                  </div><!-- .card__footer ends -->

                </div><!-- .card ends -->

              </div><!-- .flex-* ends -->

              <div class="flex-md-6 flex-lg-4">

                <div class="card sermon">

                  <div class="card__header">
                    <img src="{% static 'images/sermon-5@1.5x.jpg'%}" alt="" class="card__image sermon__image">
                  </div><!-- .card__header ends -->

                  <div class="card__footer">

                    <div class="sermon__metas">
                      <div class="sermon__meta--date meta"><i class="ri-calendar-event-line"></i>
                        <span>02/28/2020</span>
                      </div>
                      <div class="sermon__meta--speaker meta"><i class="ri-user-star-line"></i> <span>Pastor Anold
                          Chikwira</span>
                      </div>
                    </div><!-- .sermon__metas -->

                    <div class="sermon__content">
                      <div class="title">
                        <h3>Are you truly born again?</h3>
                      </div>

                      <div class="excerpt">
                        <p>Apologies for the confusion. Here's a brief summary of the sermon:

                          The sermon centers on the affirmation that "Jesus is the Hope and Future." It highlights how Jesus Christ serves as both the anchor of hope in our lives and the fulfillment of our future aspirations. Through scriptural revelations, it's emphasized that placing our trust in Christ provides enduring hope amid life's uncertainties. This hope extends beyond the present, leading us to an eternal future with Him. As believers, we find unwavering assurance and purpose in the reality that Jesus is not only our hope in all circumstances but also the source of our eternal destiny....</p>
                      </div>
                    </div>

                    <div class="sermon__link">
                      <a href="sermons-single.html" class="button">Read more</a>
                    </div>

                    <div class="sermon__download">
                      <span class="text-white">Download</span>
                      <a href=""><i class="ri-video-line"></i></a>
                      <a href=""><i class="ri-headphone-line"></i></a>
                      <a href=""><i class="ri-file-pdf-line"></i></a>
                    </div>
                  </div><!-- .card__footer ends -->

                </div><!-- .card ends -->

              </div><!-- .flex-* ends -->

              <div class="flex-md-6 flex-lg-4">

                <div class="card sermon">

                  <div class="card__header">
                    <img src="{% static 'images/sermon-4@1.5x.jpg'%}" alt="" class="card__image sermon__image">
                  </div><!-- .card__header ends -->

                  <div class="card__footer">

                    <div class="sermon__metas">
                      <div class="sermon__meta--date meta"><i class="ri-calendar-event-line"></i>
                        <span>02/28/2020</span>
                      </div>
                      <div class="sermon__meta--speaker meta"><i class="ri-user-star-line"></i> <span>Pastor Anold
                          Chikwira</span>
                      </div>
                    </div><!-- .sermon__metas -->

                    <div class="sermon__content">
                      <div class="title">
                        <h3>Understanding God's Grace and Justice</h3>
                      </div>

                      <div class="excerpt">
                        <p>The sermon delves into the profound concepts of "Understanding God's Grace and Justice." It explores how these attributes coexist harmoniously within God's character. Through scripture and reflection, attendees gain insight into how God's grace offers forgiveness and redemption, while His justice upholds righteousness. This dual nature of God inspires a balanced and awe-filled perspective of His love and holiness....</p>
                      </div>
                    </div>

                    <div class="sermon__link">
                      <a href="sermons-single.html" class="button">Read more</a>
                    </div>

                    <div class="sermon__download">
                      <span class="text-white">Download</span>
                      <a href=""><i class="ri-video-line"></i></a>
                      <a href=""><i class="ri-headphone-line"></i></a>
                      <a href=""><i class="ri-file-pdf-line"></i></a>
                    </div>
                  </div><!-- .card__footer ends -->

                </div><!-- .card ends -->

              </div><!-- .flex-* ends -->

              <div class="flex-md-6 flex-lg-4">

                <div class="card sermon">

                  <div class="card__header">
                    <img src="{% static 'images/sermon-6@1.5x.jpg'%}" alt="" class="card__image sermon__image">
                  </div><!-- .card__header ends -->

                  <div class="card__footer">

                    <div class="sermon__metas">
                      <div class="sermon__meta--date meta"><i class="ri-calendar-event-line"></i>
                        <span>02/28/2020</span>
                      </div>
                      <div class="sermon__meta--speaker meta"><i class="ri-user-star-line"></i> <span>Pastor Anold
                          Chikwira</span>
                      </div>
                    </div><!-- .sermon__metas -->

                    <div class="sermon__content">
                      <div class="title">
                        <h3>Understanding the Bible and its prophecies</h3>
                      </div>

                      <div class="excerpt">
                        <p>The sermon deeply examines "Understanding the Bible and Its Prophecies." It unravels the significance of studying the Bible as a guide to life and understanding God's plans. Attendees will explore how prophecies provide insights into God's divine purposes and the fulfillment of His promises. By delving into Scripture, they'll grasp the profound interconnection between historical context, spiritual revelation, and the unfolding future, ultimately deepening their faith and aligning their lives with God's word....</p>
                      </div>
                    </div>

                    <div class="sermon__link">
                      <a href="sermons-single.html" class="button">Read more</a>
                    </div>

                    <div class="sermon__download">
                      <span class="text-white">Download</span>
                      <a href=""><i class="ri-video-line"></i></a>
                      <a href=""><i class="ri-headphone-line"></i></a>
                      <a href=""><i class="ri-file-pdf-line"></i></a>
                    </div>
                  </div><!-- .card__footer ends -->

                </div><!-- .card ends -->

              </div><!-- .flex-* ends -->

            </div><!-- .row ends -->

          </div><!-- .all-sermons__sermons ends -->

          <div class="pagination">

            <span class="pagination__arrow"><a href=""><i class="ri-arrow-left-s-line"></i></a></span>
            <span class="pagination__number"><a href="">1</a></span>
            <span class="pagination__number active"><a href="">2</a></span>
            <span class="pagination__number"><a href="">3</a></span>
            <span class="pagination__arrow"><a href=""><i class="ri-arrow-right-s-line"></i></a></span>

          </div><!-- .pagination ends -->

        </div><!-- .container ends -->

      </div><!-- .all-sermons ends -->
      <!-- ALL SERMONS SECTION ENDS -->


      <!-- TIME AND LOCATION STARTS -->
      <section class="time-location background-lighter-gray">

        <div class="container">

          <div class="row">

            <div class="flex-lg-6">

              <div class="time-location__content default-section-spacing">

                <div class="section-heading">
                  <span>Time and location</span>
                  <h2>Come and worship with us</h2>
                </div><!-- .section-heading ends -->

                <div class="time-location__time">

                  <div class="info">
                    <div class="day bold">Sunday:</div>
                    <div class="time">
                      <span>9:00 am - 10:30 am (Sunday school)</span>
                      <span>11:00 am - 1:30 pm (Morning service)</span>
                      <span>4:00 pm - 5:30 pm (Evening service)</span>
                    </div>
                  </div>

                  <div class="info">
                    <div class="location bold">Location:</div>
                    <div class="location-info"><span>Online Zoom</span></div>
                  </div>

                </div><!-- .time-location__time ends -->

              </div>

            </div><!-- .flex-* ends -->

          </div><!-- .row ends -->

        </div><!-- .container ends -->

        <div class="time-location__map"><iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2934.500392314035!2d-73.76198333429348!3d42.650750424686215!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89de0a3cdc54f8b3%3A0x369f717b85d43cfc!2sMadison%20Ave%20%26%20Empire%20State%20Plaza!5e0!3m2!1sen!2sus!4v1583133727681!5m2!1sen!2sus"
            style="border:0;" allowfullscreen=""></iframe></div>


      </section><!-- .time-location ends -->
      <!-- TIME AND LOCATION ENDS -->


    </main><!-- main ends -->

    <!-- =================== MAIN SECTION ENDS ============================= -->


    <!-- SCROLL BACK TO TOP BEGINS -->
    <div class="scroll-to-top"><i class="ri-arrow-up-line"></i></div>
    <!-- SCROLL BACK TO TOP ENDS -->


    <!-- =================== SITE FOOTER BEGINS ============================= -->

    <footer class="footer">

      <div class="container">

        <div class="footer__top display-flex justify-align-center">

          <div class="footer__logo">
            <div class="logo-wrapper">
              <img src="{% static 'images/logo-dark.png'%}" alt="Small logo">
            </div>
          </div>

        </div><!-- .footer__top ends -->

        <div class="footer__bottom">

          <div class="row align-items-center">

            <div class="flex-md-6 flex-lg-4">

              <div class="footer__info copyright">&copy; 2020 - Renewed Church - All Rights Reserved</div>

            </div><!-- .flex-* ends -->

            <div class="flex-md-6 flex-lg-4">

              <div class="footer__info credit">Website designed and developed by Victor Marisa</div>

            </div><!-- .flex-* ends -->

            <div class="flex-md-6 flex-lg-4">

              <div class="footer__info social">
                <span>Follow us on social medias</span>
                <div class="social__icons">
                  <a href=""><i class="ri-facebook-line"></i></a>
                  <a href=""><i class="ri-twitter-line"></i></a>
                  <a href=""><i class="ri-linkedin-line"></i></a>
                </div>
              </div>

            </div><!-- .flex-* ends -->

          </div><!-- .row ends -->

        </div><!-- .footer__top ends -->

      </div><!-- .container ends -->

    </footer><!-- footer ends -->

    <!-- =================== SITE FOOTER ENDS ============================= -->


    <!-- JQUERY -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <!-- loading in JQuery locally if CDN failed -->
    <script>window.jQuery || document.write('<script src="js/jquery.min.js">\x3C/script>')</script>
    <!-- Owl Carousel script -->
    script src="{% static 'js/plugins/owl.carousel.js'%}"></script>

    <!-- JQuery Credit Card script -->
    <script src="{% static 'js/plugins/jquery.card.js'%}"></script>
    <!-- Animate On Scroll script -->
    <script src="{% static 'js/plugins/aos.js'%}"></script>
    <!-- Lightbox script -->
    <script src="{% static 'js/plugins/lightbox.min.js'%}"></script>
    <!-- Main script -->
    <script src="{% static 'dist/js/main.min.js'%}"></script>

  </body>

</html>