<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Main CSS -->
    <link href="dist/css/main.css" rel="stylesheet">

    <!-- Your page title -->
    <title>Staffs | Matthew T. Chronister | Greater Love Church</title>

    <!-- Place Custom Favicon here -->
    <link rel="shortcut icon" href="images/favicon.png" type="image/png">


  </head>

  <body>

    <div class="page-loader">
      <div class="loader"><img src="images/logo-sm.svg" alt=""></div>
    </div>

    <!-- =================== SITE HEADER BEGINS ============================= -->

    <header class="header transparent fixed light-text" data-onscroll-classes="dark-text white-bg"
      data-onscroll-logo="images/logo-dark.png">

      <div class="container">

        <nav class="header__nav bottom-nav">

          <div class="header__logo brand--logo">
            <a href="index.html"><img src="images/logo-light.png" alt="Greater Love Church"></a>
          </div>

          <div class="header__mobile--opener hide-on-lg">
            <button class="header__mobile--icon" aria-expanded="false" aria-controls="mobile-menu"
              data-toggle="mobile-menu">
              <span class="line"></span>
              <span class="line"></span>
              <span class="line"></span>
            </button>
          </div>

          <ul class="header__navitems show-on-lg" id="mobile-menu">

            <!-- Contains donation button for mobile and tablet devices -->
            <li class="header__extra">
              <div class="cta">
                <a href="donations.html" class="button button-block-sm">Donate</a>
              </div>
            </li><!-- .header__extra ends -->

            <li class="header__list"><a href="index.html">Home</a></li>
            <!-- .header__list ends -->

            <li class="header__list"><a href="about.html">About</a></li><!-- .header__list ends -->

            <li class="header__list">
              <a href="" class="dropdown-link">Sermons</a>

              <div class="header__submenu">
                <ul>

                  <li class="header__list"><a href="sermons.html">Sermons</a></li>
                  <li class="header__list"><a href="sermons-single.html">Sermons single</a></li>

                </ul>

              </div><!-- .header__submenu ends -->
            </li><!-- .header__list ends -->

            <li class="header__list">
              <a href="" class="dropdown-link">Ministries</a>

              <div class="header__submenu">
                <ul>

                  <li class="header__list"><a href="ministries.html">Ministries</a></li>
                  <li class="header__list"><a href="ministries-single.html">Ministries single</a></li>

                </ul>
              </div><!-- .header__submenu ends -->
            </li><!-- .header__list ends -->

            <li class="header__list">
              <a href="" class="dropdown-link">Events</a>

              <div class="header__submenu">
                <ul>

                  <li class="header__list"><a href="events.html">Events</a></li>
                  <li class="header__list"><a href="events-single.html">Events single</a></li>

                </ul>
              </div><!-- .header__submenu ends -->
            </li><!-- .header__list ends -->

            <li class="header__list active">
              <a href="" class="dropdown-link">Pages</a>

              <div class="header__submenu">
                <ul>

                  <li class="header__list"><a href="donations.html">Donations</a></li>
                  <li class="header__list active"><a href="staffs-single.html">Staffs single</a></li>
                  <li class="header__list"><a href="elements.html">Elements</a></li>

                </ul>
              </div><!-- .header__submenu ends -->
            </li><!-- .header__list ends -->

            <li class="header__list">
              <a href="" class="dropdown-link">Blog</a>

              <div class="header__submenu">
                <ul>

                  <li class="header__list"><a href="blog.html">Blog list</a></li>
                  <li class="header__list"><a href="blog-single.html">Blog single</a></li>

                </ul>
              </div><!-- .header__submenu ends -->
            </li><!-- .header__list ends -->

            <li class="header__list"><a href="contact.html">Contact</a></li>
            <!-- .header__list ends -->

          </ul><!-- .header__navitems ends -->

          <!-- Contains Shopping cart and donation button -->
          <div class="header__extra desktop-version">
            <div class="cta hide-on-sm show-on-lg">
              <a href="donations.html" class="button">Donate</a>
            </div>
          </div><!-- .header__extra ends -->

        </nav><!-- .header__nav ends -->

      </div><!-- .container ends -->

    </header><!-- .header ends -->

    <!-- =================== SITE HEADER ENDS ============================= -->



    <!-- =================== MAIN SECTION BEGINS ============================= -->

    <main>

      <!-- BANNER SECTION STARTS -->
      <section class="banner full-width">

        <div class="container">

          <div class="banner__content">

            <div class="banner__heading">
              <h1>Staffs single</h1>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam fugit</p>
            </div>

            <div class="breadcrumb">
              <div class="breadcrumb__home--link"><a href="index.html">Home</a></div>
              <span></span>
              <div class="breadcrumb__current--page-link">Staffs single</div>
            </div><!-- .breadcrumb ends -->

          </div><!-- .banner__content ends -->

        </div><!-- .container ends -->

      </section><!-- .banner ends -->
      <!-- BANNER SECTION ENDS -->


      <!-- STAFFS SINGLE STARTS -->
      <section class="staffs-single default-section-spacing">

        <div class="container">

          <div class="row align-items-center">

            <div class="flex-md-7 flex-lg-8">

              <div class="staffs-single__details">

                <div class="staff__name">
                  <h3>Matthew T. Chronister</h3>
                </div>
                <div class="staff__title">Worship leader</div>
                <p class="bold">Member since 2015</p>

              </div><!-- .staffs-single__details ends -->

              <div class="staffs-single__testimonial">

                <h3>Matthew's testimonial</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Exercitationem porro enim rerum eligendi,
                  voluptatum impedit non, temporibus ipsum sint itaque quis? Distinctio officia consequuntur, reiciendis
                  animi quae voluptatibus perferendis accusantium laudantium ab. Non inventore architecto sint incidunt
                  ea nulla molestias culpa, exercitationem eum repellat provident asperiores repudiandae quos ipsa
                  velit.</p>
                <p>Magnam, in quae eius ut aliquam repellat quos porro eligendi at quibusdam laudantium temporibus esse
                  aut dolores, expedita hic iure impedit dolor, numquam vel. Esse dolore quidem veniam repellendus
                  voluptatibus quas, voluptate ratione, fuga vero aperiam amet maiores dolor molestias totam autem minus
                  magnam obcaecati est odit asperiores! Minima, quam.</p>
                <p>Cupiditate beatae repellat quam culpa nobis. Dicta possimus, saepe autem ipsum magni consequuntur
                  cupiditate unde assumenda. Facere, rerum? Est a aspernatur nesciunt? Obcaecati voluptas vel animi
                  velit culpa, labore quos assumenda, maxime voluptatum quasi minus temporibus ducimus. Illum esse id
                  laudantium temporibus labore, assumenda velit voluptatum nihil eius sed ullam?</p>

              </div><!-- .staffs-single__testimonial ends -->

            </div><!-- .flex-* ends -->

            <div class="flex-md-5 flex-lg-4">

              <div class="card card--picture staff">

                <div class="card__header">
                  <img src="images/staff-5@1.5x.jpg" alt="A man" class="card__image">
                </div>

              </div><!-- .card ends -->

            </div><!-- .flex-* ends -->

          </div><!-- .row ends -->

        </div>

      </section><!-- .staffs-single ends -->
      <!-- STAFFS SINGLE ENDS -->


      <!-- TIME AND LOCATION STARTS -->
      <section class="time-location background-lighter-gray">

        <div class="container">

          <div class="row">

            <div class="flex-lg-6">

              <div class="time-location__content default-section-spacing">

                <div class="section-heading">
                  <span>Time and location</span>
                  <h2>Come and worship with us</h2>
                </div><!-- .section-heading ends -->

                <div class="time-location__time">

                  <div class="info">
                    <div class="day bold">Sunday:</div>
                    <div class="time">
                      <span>9:00 am - 10:30 am (Sunday school)</span>
                      <span>11:00 am - 1:30 pm (Morning service)</span>
                      <span>4:00 pm - 5:30 pm (Evening service)</span>
                    </div>
                  </div>

                  <div class="info">
                    <div class="location bold">Location:</div>
                    <div class="location-info"><span>123 Jay St, Albany, NY 12203</span></div>
                  </div>

                </div><!-- .time-location__time ends -->

              </div>

            </div><!-- .flex-* ends -->

          </div><!-- .row ends -->

        </div><!-- .container ends -->

        <div class="time-location__map"><iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2934.500392314035!2d-73.76198333429348!3d42.650750424686215!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89de0a3cdc54f8b3%3A0x369f717b85d43cfc!2sMadison%20Ave%20%26%20Empire%20State%20Plaza!5e0!3m2!1sen!2sus!4v1583133727681!5m2!1sen!2sus"
            style="border:0;" allowfullscreen=""></iframe></div>


      </section><!-- .time-location ends -->
      <!-- TIME AND LOCATION ENDS -->

    </main><!-- main ends -->

    <!-- =================== MAIN SECTION ENDS ============================= -->


    <!-- SCROLL BACK TO TOP BEGINS -->
    <div class="scroll-to-top"><i class="ri-arrow-up-line"></i></div>
    <!-- SCROLL BACK TO TOP ENDS -->


    <!-- =================== SITE FOOTER BEGINS ============================= -->

    <footer class="footer">

      <div class="container">

        <div class="footer__top display-flex justify-align-center">

          <div class="footer__logo">
            <div class="logo-wrapper">
              <img src="images/logo-sm.svg" alt="Small logo">
            </div>
          </div>

        </div><!-- .footer__top ends -->

        <div class="footer__bottom">

          <div class="row align-items-center">

            <div class="flex-md-6 flex-lg-4">

              <div class="footer__info copyright">&copy; 2020 - Greater Love Church - All Rights Reserved</div>

            </div><!-- .flex-* ends -->

            <div class="flex-md-6 flex-lg-4">

              <div class="footer__info credit">Template designed and developed by Blazythemes</div>

            </div><!-- .flex-* ends -->

            <div class="flex-md-6 flex-lg-4">

              <div class="footer__info social">
                <span>Follow us on social medias</span>
                <div class="social__icons">
                  <a href=""><i class="ri-facebook-line"></i></a>
                  <a href=""><i class="ri-twitter-line"></i></a>
                  <a href=""><i class="ri-linkedin-line"></i></a>
                </div>
              </div>

            </div><!-- .flex-* ends -->

          </div><!-- .row ends -->

        </div><!-- .footer__top ends -->

      </div><!-- .container ends -->

    </footer><!-- footer ends -->

    <!-- =================== SITE FOOTER ENDS ============================= -->


    <!-- JQUERY -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <!-- loading in JQuery locally if CDN failed -->
    <script>window.jQuery || document.write('<script src="js/jquery.min.js">\x3C/script>')</script>
    <!-- Owl Carousel script -->
    <script src="js/plugins/owl.carousel.js"></script>

    <!-- JQuery Credit Card script -->
    <script src="js/plugins/jquery.card.js"></script>
    <!-- Animate On Scroll script -->
    <script src="js/plugins/aos.js"></script>
    <!-- Lightbox script -->
    <script src="js/plugins/lightbox.min.js"></script>
    <!-- Main script -->
    <script src="dist/js/main.min.js"></script>

  </body>

</html>